In [1]:
from dash import Dash, html, dcc, callback, Output, Input, dash_table
import plotly.express as px
import dash_bootstrap_components as dbc
import pandas as pd
from pymongo import MongoClient
from pandas import json_normalize
import requests
import torch
from transformers import T5ForConditionalGeneration, T5Tokenizer
import evaluate
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [6]:
client = MongoClient('mongodb+srv://jennycpero:UQHG2Sfufk73KHGX@cluster0.rudlgwh.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['ASRSDB']
collection = db.asrsColl

cursor = collection.find({})
df = pd.json_normalize(list(cursor))

# Query all documents
documents = list(collection.find({}))

# Optional: Remove _id field
for doc in documents:
    doc.pop('_id', None)

# Flatten using json_normalize
df = pd.json_normalize(documents)

# View the resulting flat DataFrame
print(df.head())

       ACN                                           Synopsis Time / Day.Date  \
0  2190646  [Air carrier Captain reported a NMAC with a UA...      2024-11-01
1  2189364  [Recreational / Hobbyist UAS pilot reported fl...      2024-11-01
2  2189297  [Small aircraft pilot reported an NMAC and als...      2024-11-01
3  2189284  [Air taxi Captain reported a NMAC with a UAS w...      2024-11-01
4  2188810  [Air carrier First Officer reported a NMAC wit...      2024-11-01

  Time / Day.Local Time Of Day Place.Locale Reference.Airport  \
0                    1201-1800                    MIA.Airport
1                          NaN                    MLB.Airport
2                    0601-1200                    F70.Airport
3                          NaN                    FDK.Airport
4                    0601-1200                    EWR.Airport

  Place.State Reference Place.Altitude.MSL.Single Value  \
0                    FL                            6500
1                    FL                             NaN
2                    CA                            3500
3                    MD                            1800
4                    NJ                            2800

  Place.Altitude.AGL.Single Value Environment.Flight Conditions  \
0                            6500                           VMC
1                             300                           VMC
2                            3500                           VMC
3                            1800                           VMC
4                            2800                           VMC

  Environment.Weather Elements / Visibility.Visibility  ...  \
0                                               9999    ...
1                                                 10    ...
2                                                 10    ...
3                                                NaN    ...
4                                                NaN    ...

  Person.8.Function.Ground Personnel Person.10.Function.Flight Crew  \
0                                NaN                            NaN
1                                NaN                            NaN
2                                NaN                            NaN
3                                NaN                            NaN
4                                NaN                            NaN

  Person.5.Qualification.Maintenance Person.11.Location Of Person  \
0                                NaN                          NaN
1                                NaN                          NaN
2                                NaN                          NaN
3                                NaN                          NaN
4                                NaN                          NaN

  Person.6.Qualification.Dispatch  \
0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN

  Person.5.Experience.Air Traffic Control.Supervisory  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Person.8.Qualification.Flight Crew Aircraft.3.ATC / Advisory.FSS  \
0                                NaN                           NaN
1                                NaN                           NaN
2                                NaN                           NaN
3                                NaN                           NaN
4                                NaN                           NaN

  Aircraft.4.ATC / Advisory.FSS Aircraft.3.Airspace.TFR
0                           NaN                     NaN
1                           NaN                     NaN
2                           NaN                     NaN
3                           NaN                     NaN
4                           NaN                     NaN

[5 rows x 595 columns]

In [8]:
df.shape

(60007, 595)